.header {
  height: 70px;
  border-bottom: 1px solid #e5e4e2;
  position: relative;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.left-container,
.right-container {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.left-container__logo-main {
  width: 150px;
}

.right-container__logo-search {
  width: 20px;
}

.right-container__logo-menu {
  width: 25px;
}

.sidebar {
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.sidebar__divider {
  padding-left: 1.5rem;
}

.sidebar__divider > hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e4e2;
  margin: 0;
}

.sidebar__list {
  list-style-type: none;
  padding: 0 1.5rem;
}

.sidebar__item {

}

.sidebar__link {
  text-decoration: none;
  color: black;
}
